<div class="hpContainer">
    <div class="jumbotron">
        <h2>Evolent Home page</h2>      
        <p>Single Page Application for managing contact details.</p>
    </div>

    <div class="hpContents">
        <h3>Technologies used :</h3>      
        <ul>
            <li>IDE</li>
                <ul>
                    <li>Visual Studio Code</li>
                </ul>
            <li>Front-End</li>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                    <ul>
                        <li>Bootstrap</li>
                    </ul>
                <li>Javascript</li>
                <ul>
                    <li>AngularJS</li>
                    <li>JQuery</li>
                </ul>
            </ul>
            <li>Back-End</li>
            <ul>
                <li>PHP</li>
            </ul>
            <li>Database</li>
            <ul>
                <li>MySql</li>
            </ul>
            <li>Repository</li>
             <ul>
                <li>GitHub</li>
            </ul>
        </ul>

    </div>
</div>