<div id="memberViewModal" class="modalWindow" ng-show="isMemberViewVisible">
<div class="modalContent">
<div class="modalHeader">
  <span class="closeButton" ng-click="closeModal()">&times;</span>
  <span>Evo-Member view</span>
</div>
<div class="modalBody">
  <form name="myForm" novalidate>
    <div class="formRow">
    	<label class="formLabel" for="fname">First Name</label>
    	<input class="formField" name="firstname" type="text" id="fname" ng-model="selectedMember.firstName"  required>
      <span style="color:red" ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid">
      <span ng-show="myForm.firstname.$error.required">Firstname is required.</span>
      </span>
    </div>
    <div class="formRow">
    	<label class="formLabel" for="lname">Last Name</label>
    	<input class="formField" name="lastname" type="text" id="lname"  ng-model="selectedMember.lastName"  required>
      <span style="color:red" ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid">
      <span ng-show="myForm.lastname.$error.required">Lastname is required.</span>
      </span>
    </div>

    <div class="formRow">
    	<label class="formLabel" for="email">Email</label>
    	<input class="formField" name="email" type="email" id="email" ng-model="selectedMember.email" required>
      <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
      <span ng-show="myForm.email.$error.required">Email is required.</span>
      <span ng-show="myForm.email.$error.email">Invalid email address.</span>
      </span>
    </div>
    <div class="formRow">
    	<label class="formLabel" for="phone">Phone</label>
    	<input class="formField" type="text" id="phone"  ng-model="selectedMember.phone">
    </div>
    <div class="formRow">
    	<label class="formLabel" for="status">Status</label>
    	<select ng-model="selectedMember.status" style="margin-top:3px; height:35px; width:230px">
        <option  value="Active">Active</option>
        <option  value="Inactive">Inactive</option>
      </select>
    </div>
    <button class="formButton" ng-click="saveMember(selectedMember)">Save</button>
    <button class="formButton" ng-click="closeModal()">Cancel</button>
  </form>
</div>
</div>
</div><!-- END modal -->